<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Product Type Shape</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.9");
//-->
</script>

<h2 class="std">4.9 Product Type Shape</h2>
<p>Product types define explicit product models or parametric product families, that may be instantiated in buildings.</p>
<p class="fig-ref">Figure 126 illustrates an instance diagram.</p>
<table><tr><td><img alt="Product Type Shape" src="./diagrams/product-type-shape.png" usemap="#f126"><map name="f126"><area shape="rect" coords="8,8,176,224" href="../ifckernel/lexical/ifctypeproduct.htm" alt="IfcTypeProduct" /><area shape="rect" coords="208,8,376,68" href="../ifcgeometryresource/lexical/ifcrepresentationmap.htm" alt="IfcRepresentationMap" /></map></td></tr><tr><td><p class="figure">Figure 126 &mdash; Product Type Shape</p></td></tr></table>

<hr/>
<h4>Reference View</h4>
<table class="exchange">
<tr><th>Entity</th></tr><tr><td><a href="../ifckernel/lexical/ifctypeproduct.htm">IfcTypeProduct</a></td></tr>
</table>
<details><summary>mvdXML Specification</summary><div class="xsd"><code class="xsd">
&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;<br/>
&lt;ConceptTemplate xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot; uuid=&quot;80f88bec-0436-4f70-a42a-c04705656a81&quot; name=&quot;Product Type Shape&quot; applicableSchema=&quot;IFC4&quot; applicableEntity=&quot;<a href="../ifckernel/lexical/ifctypeproduct.htm">IfcTypeProduct</a>&quot;&gt;<br/>
&nbsp;&nbsp;&lt;Rules&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;AttributeRule AttributeName=&quot;RepresentationMaps&quot;&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;EntityRules&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;EntityRule EntityName=&quot;<a href="../ifcgeometryresource/lexical/ifcrepresentationmap.htm">IfcRepresentationMap</a>&quot; /&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/EntityRules&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/AttributeRule&gt;<br/>
&nbsp;&nbsp;&lt;/Rules&gt;<br/>
&lt;/ConceptTemplate&gt;<br/>
</code></div>
</details>
</p>
<p><a href="../../link/product-type-shape.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
  </body>
</html>
