<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../details-shim.css">
    <script type="text/javascript" src="../../details-shim.js"></script>
    <title>Spatial Element Type Predefined Type</title>

    <style type="text/css">
      body { counter-reset: index1 0 index2 0 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.4.3.1");
//-->
</script>

<h4 class="std">4.4.3.1 Spatial Element Type Predefined Type</h4>
<p>If a custom value is needed to describe a spatial element type, the attribute <i>ElementType</i> may be used to define such custom type, where the <i>PredefinedType</i> is set to <i>USERDEFINED</i>.</p>
<p>Specific subtypes introduce additional attributes for <i>User Identity</i>.</p>
<ul>
<li>Spatial element type sub types may be further identified via the <i>Tag</i> attribute. While there is no restriction on usage of such tags, it is recommended the <i>Tag</i> is unique within it's containing scope.</li>
<li>Spatial element type sub types may be further attributed via the <i>LongName</i> attribute. While the <i>Name</i> attribute generally provides a coded or abbreviated identifier, the <i>LongName</i> provides a functional name for the location such as &quot;Reception Area&quot;.</li>
</ul>
<blockquote class="note">
<p>NOTE  Since the corresponding occurrences of <a href="../ifcproductextension/lexical/ifcspatialelementtype.htm">IfcSpatialElementType</a> do not have a <i>Tag</i> attribute, it is recommended not to use it here.</p>
</blockquote>
<p class="fig-ref">Figure 72 illustrates an instance diagram.</p>
<table><tr><td><img alt="Spatial Element Type Predefined Type" src="./diagrams/spatial-element-type-predefined-type.png" usemap="#f72"><map name="f72"><area shape="rect" coords="8,8,176,236" href="../ifcproductextension/lexical/ifcspatialelementtype.htm" alt="IfcSpatialElementType" /><area shape="rect" coords="208,8,376,20" href="../ifcmeasureresource/lexical/ifclabel.htm" alt="IfcLabel" /><area shape="rect" coords="208,40,376,52" href="../ifcmeasureresource/lexical/ifclabel.htm" alt="IfcLabel" /></map></td></tr><tr><td><p class="figure">Figure 72 &mdash; Spatial Element Type Predefined Type</p></td></tr></table>

<hr/>
<h4>Reference View</h4>
<table class="exchange">
<tr><th>Entity</th></tr><tr><td><a href="../ifcproductextension/lexical/ifcspatialelement.htm">IfcSpatialElement</a></td></tr>
</table>
<details><summary>mvdXML Specification</summary><div class="xsd"><code class="xsd">
&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;<br/>
&lt;ConceptTemplate xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot; uuid=&quot;1a9b609e-a295-4a3f-aed8-588712adce11&quot; name=&quot;Spatial Element Type Predefined Type&quot; applicableSchema=&quot;IFC4&quot; applicableEntity=&quot;<a href="../ifcproductextension/lexical/ifcspatialelementtype.htm">IfcSpatialElementType</a>&quot;&gt;<br/>
&nbsp;&nbsp;&lt;Rules&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;AttributeRule AttributeName=&quot;PredefinedType&quot; /&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;AttributeRule AttributeName=&quot;ElementType&quot;&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;EntityRules&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;EntityRule EntityName=&quot;<a href="../ifcmeasureresource/lexical/ifclabel.htm">IfcLabel</a>&quot; /&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/EntityRules&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/AttributeRule&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;AttributeRule AttributeName=&quot;Tag&quot;&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;EntityRules&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;EntityRule EntityName=&quot;<a href="../ifcmeasureresource/lexical/ifclabel.htm">IfcLabel</a>&quot; /&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/EntityRules&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/AttributeRule&gt;<br/>
&nbsp;&nbsp;&lt;/Rules&gt;<br/>
&lt;/ConceptTemplate&gt;<br/>
</code></div>
</details>
</p>
<p><a href="../../link/spatial-element-type-predefined-type.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
  </body>
</html>
