<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../../ifc-styles.css">

    <link rel="stylesheet" type="text/css" href="../../../details-shim.css">
    <script type="text/javascript" src="../../../details-shim.js"></script>
    <title>TI-Bridge</title>

    <style type="text/css">
      body { counter-reset: index1 1 index2 1 index3 0 index4 -1 index5 0; }
    </style>
  </head>

  <body>


<script type="text/javascript">
<!--
    parent.index.location.replace("../../toc-1.htm#");
//-->
</script>

<h3><a id="ti-bridge" name="ti-bridge">1.1 TI-Bridge</a></h3>
<table class="gridtable">
<tr><th>Code</th><th>Version</th><th>Status</th><th>Author</th><th>Copyright</th></tr>
<tr><td>ti-bridge</td><td></td><td></td><td></td><td></td></tr>
</table>
<h5>Boring Point</h5>
<p>Boring points shall have properties and be placed at discrete locations.</p>
<table class="gridtable">
<tr><th>Field</th><th>Mapping</th><th>Definition</th>
</tr>
<tr><th>(Query)</th><th></th><th></th></tr>
<tr><td>Properties</td><td>\<a href="../../ifckernel/lexical/ifcobject.htm">IfcObject</a><br></td><td><p>Boring points shall have the property set Pset_BoreholeCommon.</p>
</td></tr><tr><td>Product Local Placement</td><td>\<a href="../../ifckernel/lexical/ifcproduct.htm">IfcProduct</a>.ObjectPlacement<br>\<a href="../../ifcgeometricconstraintresource/lexical/ifclocalplacement.htm">IfcLocalPlacement</a>.RelativePlacement<br>\<a href="../../ifcgeometryresource/lexical/ifcaxis2placement3d.htm">IfcAxis2Placement3D</a><br></td><td><p>Boreholes shall be placed locally with <a href="../../ifcgeometricconstraintresource/lexical/ifclocalplacement.htm">IfcLocalPlacement</a>.</p>
</td></tr></table>
<h5>Surface Proposed Geotechnical Stratum</h5>
<p>Ground surface of the Site indicating final conditions modelled as <a href="../../ifcsharedinfrastructureelements/lexical/ifcgeotechnicalstratum.htm">IfcGeotechnicalStratum</a>.</p>
<table class="gridtable">
<tr><th>Field</th><th>Mapping</th><th>Definition</th>
</tr>
<tr><th>(Query)</th><th></th><th></th></tr>
<tr><td>Product Local Placement</td><td>\<a href="../../ifckernel/lexical/ifcproduct.htm">IfcProduct</a>.ObjectPlacement<br>\<a href="../../ifcgeometricconstraintresource/lexical/ifclocalplacement.htm">IfcLocalPlacement</a>.RelativePlacement<br>\<a href="../../ifcgeometryresource/lexical/ifcaxis2placement3d.htm">IfcAxis2Placement3D</a><br></td><td><p>Surface Proposed shall be locally placed in the Site.</p>
</td></tr><tr><td>Geometry</td><td>\<a href="../../ifcproductextension/lexical/ifcelement.htm">IfcElement</a>.Representation<br>\<a href="../../ifcrepresentationresource/lexical/ifcproductdefinitionshape.htm">IfcProductDefinitionShape</a>.Representations['Surface']<br>\<a href="../../ifcrepresentationresource/lexical/ifcshaperepresentation.htm">IfcShapeRepresentation</a>.ContextOfItems<br>\<a href="../../ifcrepresentationresource/lexical/ifcgeometricrepresentationcontext.htm">IfcGeometricRepresentationContext</a><br></td><td><p>Surface Proposed shall be represented as a 3D surface tessellation <i>IfcTriangulatedIrregularNetwork</i> geometric items.</p>
</td></tr></table>
<h5>Surface Existing Geomodel</h5>
<table class="gridtable">
<tr><th>Field</th><th>Mapping</th><th>Definition</th>
</tr>
<tr><th>(Query)</th><th></th><th></th></tr>
<tr><td>Product Local Placement</td><td>\<a href="../../ifckernel/lexical/ifcproduct.htm">IfcProduct</a>.ObjectPlacement<br>\<a href="../../ifcgeometricconstraintresource/lexical/ifclocalplacement.htm">IfcLocalPlacement</a>.RelativePlacement<br>\<a href="../../ifcgeometryresource/lexical/ifcaxis2placement3d.htm">IfcAxis2Placement3D</a><br></td><td><p>Surface Existing shall be locally placed in the Site.</p>
</td></tr><tr><td>Geometry</td><td>\<a href="../../ifcproductextension/lexical/ifcelement.htm">IfcElement</a>.Representation<br>\<a href="../../ifcrepresentationresource/lexical/ifcproductdefinitionshape.htm">IfcProductDefinitionShape</a>.Representations['Surface']<br>\<a href="../../ifcrepresentationresource/lexical/ifcshaperepresentation.htm">IfcShapeRepresentation</a>.ContextOfItems<br>\<a href="../../ifcrepresentationresource/lexical/ifcgeometricrepresentationcontext.htm">IfcGeometricRepresentationContext</a><br></td><td><p>Surface Existing shall be represented as a 3D surface tessellation <i>IfcTriangulatedIrregularNetwork</i> geometric items.</p>
</td></tr></table>
<h5>Surface Existing Geotechnical Stratum</h5>
<table class="gridtable">
<tr><th>Field</th><th>Mapping</th><th>Definition</th>
</tr>
<tr><th>(Query)</th><th></th><th></th></tr>
<tr><td>Product Local Placement</td><td>\<a href="../../ifckernel/lexical/ifcproduct.htm">IfcProduct</a>.ObjectPlacement<br>\<a href="../../ifcgeometricconstraintresource/lexical/ifclocalplacement.htm">IfcLocalPlacement</a>.RelativePlacement<br>\<a href="../../ifcgeometryresource/lexical/ifcaxis2placement3d.htm">IfcAxis2Placement3D</a><br></td><td><p>Surface Existing shall be locally placed in the Site.</p>
</td></tr><tr><td>Geometry</td><td>\<a href="../../ifcproductextension/lexical/ifcelement.htm">IfcElement</a>.Representation<br>\<a href="../../ifcrepresentationresource/lexical/ifcproductdefinitionshape.htm">IfcProductDefinitionShape</a>.Representations['Surface']<br>\<a href="../../ifcrepresentationresource/lexical/ifcshaperepresentation.htm">IfcShapeRepresentation</a>.ContextOfItems<br>\<a href="../../ifcrepresentationresource/lexical/ifcgeometricrepresentationcontext.htm">IfcGeometricRepresentationContext</a><br></td><td><p>Surface Existing shall be represented as a 3D surface tessellation <i>IfcTriangulatedIrregularNetwork</i> geometric items.</p>
</td></tr></table>
<h5>Surface Proposed Geomodel</h5>
<p>Ground surface of the Site indicating final conditions modelled as <a href="../../ifcsharedinfrastructureelements/lexical/ifcgeomodel.htm">IfcGeomodel</a>.</p>
<table class="gridtable">
<tr><th>Field</th><th>Mapping</th><th>Definition</th>
</tr>
<tr><th>(Query)</th><th></th><th></th></tr>
<tr><td>Product Local Placement</td><td>\<a href="../../ifckernel/lexical/ifcproduct.htm">IfcProduct</a>.ObjectPlacement<br>\<a href="../../ifcgeometricconstraintresource/lexical/ifclocalplacement.htm">IfcLocalPlacement</a>.RelativePlacement<br>\<a href="../../ifcgeometryresource/lexical/ifcaxis2placement3d.htm">IfcAxis2Placement3D</a><br></td><td><p>Surface Proposed shall be locally placed in the Site.</p>
</td></tr><tr><td>Geometry</td><td>\<a href="../../ifcproductextension/lexical/ifcelement.htm">IfcElement</a>.Representation<br>\<a href="../../ifcrepresentationresource/lexical/ifcproductdefinitionshape.htm">IfcProductDefinitionShape</a>.Representations['Surface']<br>\<a href="../../ifcrepresentationresource/lexical/ifcshaperepresentation.htm">IfcShapeRepresentation</a>.ContextOfItems<br>\<a href="../../ifcrepresentationresource/lexical/ifcgeometricrepresentationcontext.htm">IfcGeometricRepresentationContext</a><br></td><td><p>Surface Proposed shall be represented as a 3D surface tessellation <i>IfcTriangulatedIrregularNetwork</i> geometric items.</p>
</td></tr></table>
<h5>Alignment</h5>
<table class="gridtable">
<tr><th>Field</th><th>Mapping</th><th>Definition</th>
</tr>
<tr><th>(Query)</th><th>\<a href="../../ifcproductextension/lexical/ifcalignment.htm">IfcAlignment</a><br>
</th><th></th></tr>
<tr><td>Name</td><td>\<a href="../../ifckernel/lexical/ifcobject.htm">IfcObject</a>.Name<br>\<a href="../../ifcmeasureresource/lexical/ifclabel.htm">IfcLabel</a><br></td><td><p>Name of the alignment used for referencing purposes.</p>
</td></tr><tr><td>AxisGradientCurve</td><td>\<a href="../../ifcproductextension/lexical/ifcalignment.htm">IfcAlignment</a>.Representation<br>\<a href="../../ifcrepresentationresource/lexical/ifcproductdefinitionshape.htm">IfcProductDefinitionShape</a>.Name<br></td><td><p>Alignment shall define an axis curve, which may consist of a horizontal alignment curve only, a horizontal curve and vertical curve.</p>
</td></tr><tr><td>AxisPolyline</td><td>\<a href="../../ifckernel/lexical/ifcproduct.htm">IfcProduct</a>.Representation<br>\<a href="../../ifcrepresentationresource/lexical/ifcproductdefinitionshape.htm">IfcProductDefinitionShape</a>.Representations['Axis']<br>\<a href="../../ifcrepresentationresource/lexical/ifcshaperepresentation.htm">IfcShapeRepresentation</a>.ContextOfItems<br>\<a href="../../ifcrepresentationresource/lexical/ifcgeometricrepresentationcontext.htm">IfcGeometricRepresentationContext</a><br></td><td><p>Alignment shall define an axis curve, which may consist of a polyline for capturing existing conditions at approximate intervals.</p>
</td></tr><tr><td>AxisOffsetCurve</td><td>\<a href="../../ifckernel/lexical/ifcproduct.htm">IfcProduct</a>.Representation<br>\<a href="../../ifcrepresentationresource/lexical/ifcproductdefinitionshape.htm">IfcProductDefinitionShape</a>.Representations['Axis']<br>\<a href="../../ifcrepresentationresource/lexical/ifcshaperepresentation.htm">IfcShapeRepresentation</a>.ContextOfItems<br>\<a href="../../ifcrepresentationresource/lexical/ifcgeometricrepresentationcontext.htm">IfcGeometricRepresentationContext</a><br></td><td><p>Alignment shall define an axis curve, which may consist of an offset curve for capturing derivate alignments such as for a girder line.</p>
</td></tr><tr><td>Placement</td><td>\<a href="../../ifckernel/lexical/ifcproduct.htm">IfcProduct</a>.ObjectPlacement<br>\<a href="../../ifcgeometricconstraintresource/lexical/ifclocalplacement.htm">IfcLocalPlacement</a>.RelativePlacement<br>\<a href="../../ifcgeometryresource/lexical/ifcaxis2placement3d.htm">IfcAxis2Placement3D</a><br></td><td><p>Alignment shall be placed at the global origin.</p>
</td></tr></table>
<h5>Beam</h5>
<table class="gridtable">
<tr><th>Field</th><th>Mapping</th><th>Definition</th>
</tr>
<tr><th>(Query)</th><th>\<a href="../../ifcsharedbldgelements/lexical/ifcbeam.htm">IfcBeam</a><br>
</th><th></th></tr>
<tr><td>Beam Name</td><td>\<a href="../../ifckernel/lexical/ifcobject.htm">IfcObject</a>.Name<br>\<a href="../../ifcmeasureresource/lexical/ifclabel.htm">IfcLabel</a><br></td><td><p>According to the Object User Identity template the name of the beam shall be set to IfcBeam.Name = 'BTB75-A' and the beam type name to IfcBeamType.Name = 'BTB75'.</p>
</td></tr><tr><td>Predefined Type</td><td>\<a href="../../ifckernel/lexical/ifcobject.htm">IfcObject</a>.ObjectType<br>\<a href="../../ifcmeasureresource/lexical/ifclabel.htm">IfcLabel</a><br></td><td><p>The predefined type shall be set on IfcBeamType.PredefinedType and shall have the value BEAM.</p>
</td></tr><tr><td>Material</td><td>\<a href="../../ifckernel/lexical/ifcobjectdefinition.htm">IfcObjectDefinition</a>.HasAssociations[*]<br>\<a href="../../ifcproductextension/lexical/ifcrelassociatesmaterial.htm">IfcRelAssociatesMaterial</a>.RelatingMaterial<br>\<a href="../../ifcmaterialresource/lexical/ifcmaterial.htm">IfcMaterial</a><br></td><td><p>The material Name shall be 'HPC' and the category 'concrete'.</p>
</td></tr><tr><td>Body SweptSolid Geometry</td><td>\<a href="../../ifcproductextension/lexical/ifcelement.htm">IfcElement</a>.Representation<br>\<a href="../../ifcrepresentationresource/lexical/ifcproductdefinitionshape.htm">IfcProductDefinitionShape</a>.Representations['Body']<br>\<a href="../../ifcrepresentationresource/lexical/ifcshaperepresentation.htm">IfcShapeRepresentation</a>.ContextOfItems<br>\<a href="../../ifcrepresentationresource/lexical/ifcgeometricrepresentationcontext.htm">IfcGeometricRepresentationContext</a><br></td><td>Definition of the representation context for which the different subtypes of representation are valid.</td></tr></table>
<h5>Bridge</h5>
<table class="gridtable">
<tr><th>Field</th><th>Mapping</th><th>Definition</th>
</tr>
<tr><th>(Query)</th><th>\<a href="../../ifcproductextension/lexical/ifcbridge.htm">IfcBridge</a><br>
</th><th></th></tr>
<tr><td>Components</td><td>\<a href="../../ifcproductextension/lexical/ifcspatialelement.htm">IfcSpatialElement</a>.ContainsElements[*]<br>\<a href="../../ifcproductextension/lexical/ifcrelcontainedinspatialstructure.htm">IfcRelContainedInSpatialStructure</a>.RelatedElements[*]<br>\<a href="../../ifckernel/lexical/ifcproduct.htm">IfcProduct</a><br></td><td><p>Components within the bridge, including piers, abutments, girders, and decks. Placement of components is NOT relative to the bridge, but to the underlying alignment.</p>
</td></tr><tr><td>Name</td><td>\<a href="../../ifckernel/lexical/ifcobject.htm">IfcObject</a>.Name<br>\<a href="../../ifcmeasureresource/lexical/ifclabel.htm">IfcLabel</a><br></td><td><p>The name or code identifying the bridge within the owning agency.</p>
</td></tr><tr><td>Axis</td><td>\<a href="../../ifckernel/lexical/ifcproduct.htm">IfcProduct</a>.PositionedRelativeTo[*]<br>\<a href="../../ifcproductextension/lexical/ifcrelpositions.htm">IfcRelPositions</a>.RelatingPositioningElement<br>\<a href="../../ifcproductextension/lexical/ifcreferent.htm">IfcReferent</a>.PredefinedType<br>\<a href="../../ifcproductextension/lexical/ifcreferenttypeenum.htm">IfcReferentTypeEnum</a><br></td><td><p>Alignment extent of the bridge defined as a sub-span of the overall alignment.</p>
</td></tr><tr><td>Alignment</td><td>\<a href="../../ifckernel/lexical/ifcproduct.htm">IfcProduct</a>.PositionedRelativeTo[*]<br>\<a href="../../ifcproductextension/lexical/ifcrelpositions.htm">IfcRelPositions</a>.RelatingPositioningElement<br>\<a href="../../ifcproductextension/lexical/ifcreferent.htm">IfcReferent</a>.Name<br></td><td>Optional name for use by the participating software systems or users. For some subtypes of IfcRoot the insertion of the Name attribute may be required. This would be enforced by a where rule.</td></tr></table>
<h5>Project</h5>
<p>All data sets shall consist of a single IfcProject instance, which identifies the overall project, provides defaults for units, and holds a graph of references to all data within scope.</p>
<table class="gridtable">
<tr><th>Field</th><th>Mapping</th><th>Definition</th>
</tr>
<tr><th>(Query)</th><th>\<a href="../../ifckernel/lexical/ifcproject.htm">IfcProject</a><br>
</th><th></th></tr>
<tr><td>Name</td><td></td><td><p>The name or code identifying the project within the owning agency.</p>
</td></tr><tr><td>Length Unit</td><td>\<a href="../../ifckernel/lexical/ifccontext.htm">IfcContext</a>.UnitsInContext<br>\<a href="../../ifcmeasureresource/lexical/ifcunitassignment.htm">IfcUnitAssignment</a>.Units[*]<br>\<a href="../../ifcmeasureresource/lexical/ifcderivedunit.htm">IfcDerivedUnit</a>.UnitType<br>\<a href="../../ifcmeasureresource/lexical/ifcderivedunitenum.htm">IfcDerivedUnitEnum</a><br></td><td><p>Default unit for length. For imperial, inches are recommended. SI Meters are the default if not provided.</p>
</td></tr><tr><td>Angle Unit</td><td>\<a href="../../ifckernel/lexical/ifccontext.htm">IfcContext</a>.UnitsInContext<br>\<a href="../../ifcmeasureresource/lexical/ifcunitassignment.htm">IfcUnitAssignment</a>.Units[*]<br>\<a href="../../ifcmeasureresource/lexical/ifcderivedunit.htm">IfcDerivedUnit</a>.UnitType<br>\<a href="../../ifcmeasureresource/lexical/ifcderivedunitenum.htm">IfcDerivedUnitEnum</a><br></td><td><p>Default unit for angles. Degrees are recommended, and are the default if not provided.</p>
</td></tr><tr><td>Mass Unit</td><td>\<a href="../../ifckernel/lexical/ifccontext.htm">IfcContext</a>.UnitsInContext<br>\<a href="../../ifcmeasureresource/lexical/ifcunitassignment.htm">IfcUnitAssignment</a>.Units[*]<br>\<a href="../../ifcmeasureresource/lexical/ifcderivedunit.htm">IfcDerivedUnit</a>.UnitType<br>\<a href="../../ifcmeasureresource/lexical/ifcderivedunitenum.htm">IfcDerivedUnitEnum</a><br></td><td><p>Default unit for mass. For imperial, pounds are recommended. SI Kilograms are the default if not provided.</p>
</td></tr><tr><td>Temperature Unit</td><td>\<a href="../../ifckernel/lexical/ifccontext.htm">IfcContext</a>.UnitsInContext<br>\<a href="../../ifcmeasureresource/lexical/ifcunitassignment.htm">IfcUnitAssignment</a>.Units[*]<br>\<a href="../../ifcmeasureresource/lexical/ifcderivedunit.htm">IfcDerivedUnit</a>.UnitType<br>\<a href="../../ifcmeasureresource/lexical/ifcderivedunitenum.htm">IfcDerivedUnitEnum</a><br></td><td><p>Default unit for temperature. For imperial, fahrenheit is recommended. SI Celcius is the default if not provided.</p>
</td></tr><tr><td>Site</td><td>\<a href="../../ifckernel/lexical/ifccontext.htm">IfcContext</a>.RepresentationContexts[*]<br>\<a href="../../ifcrepresentationresource/lexical/ifcgeometricrepresentationcontext.htm">IfcGeometricRepresentationContext</a>.HasCoordinateOperation[*]<br>\<a href="../../ifcrepresentationresource/lexical/ifcmapconversion.htm">IfcMapConversion</a>.Eastings<br>\<a href="../../ifcmeasureresource/lexical/ifclengthmeasure.htm">IfcLengthMeasure</a><br></td><td><p>Site within project describing geospatial location and project boundaries.</p>
</td></tr></table>
<h5>Site</h5>
<p>Data sets shall include at least one Site. The Site may define existing and proposed terrain within vicinity of the bridge project and contain alignment(s), bridge(s) and potentially other structures such as the road/rail supported by the bridge. Boring points may be included as objects contained within the Site.</p>
<table class="gridtable">
<tr><th>Field</th><th>Mapping</th><th>Definition</th>
</tr>
<tr><th>(Query)</th><th>\<a href="../../ifcproductextension/lexical/ifcsite.htm">IfcSite</a><br>
</th><th></th></tr>
<tr><td>Name</td><td>\<a href="../../ifckernel/lexical/ifcobject.htm">IfcObject</a>.Name<br>\<a href="../../ifcmeasureresource/lexical/ifclabel.htm">IfcLabel</a><br></td><td><p>Name of the Site for referencing purposes.</p>
</td></tr><tr><td>Bridge</td><td>\<a href="../../ifckernel/lexical/ifcobjectdefinition.htm">IfcObjectDefinition</a>.IsDecomposedBy[*]<br>\<a href="../../ifckernel/lexical/ifcrelaggregates.htm">IfcRelAggregates</a>.RelatedObjects[*]<br>\<a href="../../ifcproductextension/lexical/ifcspatialelement.htm">IfcSpatialElement</a>.Name<br>\<a href="../../ifcmeasureresource/lexical/ifclabel.htm">IfcLabel</a><br></td><td><p>Bridge structure(s) within Site.</p>
</td></tr><tr><td>Project</td><td>\<a href="../../ifcproductextension/lexical/ifcspatialelement.htm">IfcSpatialElement</a>.Decomposes[*]<br>\<a href="../../ifckernel/lexical/ifcrelaggregates.htm">IfcRelAggregates</a>.RelatingObject<br>\<a href="../../ifckernel/lexical/ifcproject.htm">IfcProject</a>.Name<br>\<a href="../../ifcmeasureresource/lexical/ifclabel.htm">IfcLabel</a><br></td><td><p>The Site shall be contained in a project.</p>
</td></tr><tr><td>Surface Proposed</td><td>\<a href="../../ifcproductextension/lexical/ifcspatialelement.htm">IfcSpatialElement</a>.ContainsElements[*]<br>\<a href="../../ifcproductextension/lexical/ifcrelcontainedinspatialstructure.htm">IfcRelContainedInSpatialStructure</a>.RelatedElements[*]<br>\<a href="../../ifckernel/lexical/ifcproduct.htm">IfcProduct</a><br></td><td><p>The ground surface of the Site indicating final conditions.</p>
</td></tr><tr><td>Surface Existing</td><td>\<a href="../../ifcproductextension/lexical/ifcspatialelement.htm">IfcSpatialElement</a>.ContainsElements[*]<br>\<a href="../../ifcproductextension/lexical/ifcrelcontainedinspatialstructure.htm">IfcRelContainedInSpatialStructure</a>.RelatedElements[*]<br>\<a href="../../ifckernel/lexical/ifcproduct.htm">IfcProduct</a><br></td><td><p>The ground surface of the Site indicating existing conditions.</p>
</td></tr><tr><td>Boring Points</td><td>\<a href="../../ifcproductextension/lexical/ifcspatialelement.htm">IfcSpatialElement</a>.ContainsElements[*]<br>\<a href="../../ifcproductextension/lexical/ifcrelcontainedinspatialstructure.htm">IfcRelContainedInSpatialStructure</a>.RelatedElements[*]<br>\<a href="../../ifckernel/lexical/ifcproduct.htm">IfcProduct</a><br></td><td><p>Boring points indicating soil layers and properties at discrete locations.</p>
</td></tr></table>
  </body>
</html>
